XlsxWriter==3.2.0
appdirs==1.4.4
boto3==1.34.83
botocore==1.34.83
compress-pickle==2.1.0
humanfriendly==10.0
pandas==2.2.2
psutil==5.9.8
rdt==1.11.0
scikit-learn==1.4.2
scipy==1.13.0
sdmetrics==0.13.0
sdv==1.11.0
tabulate==0.8.10
torch==2.2.2
tqdm==4.66.2
