XlsxWriter==3.2.0
appdirs==1.4.4
compress-pickle==2.1.0
humanfriendly==10.0
numpy==1.26.4
pandas==2.2.2
rdt==1.12.0
scikit-learn==1.4.2
scipy==1.13.0
sdmetrics==0.14.0
sdv==1.12.1
tabulate==0.8.10
torch==2.2.2
tqdm==4.66.2
