name: Run SDGym Benchmark Multi-Table

on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 1 * *'
  push:
    branches:
      - issue-516-add-workflows

jobs:
  run-sdgym-benchmark:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version-file: 'pyproject.toml'

    - name: Install dependencies
      env:
        USERNAME: ${{ secrets.SDV_ENTERPRISE_USERNAME }}
        LICENSE_KEY: ${{ secrets.SDV_ENTERPRISE_LICENSE_KEY }}
      run: |
        python -m venv venv
        source venv/bin/activate

        python -m pip install --upgrade pip
        python -m pip install sdv-enterprise --index-url "https://${USERNAME}:${LICENSE_KEY}@pypi.datacebo.com"
        python -m pip install "sdgym[all] @ git+https://github.com/sdv-dev/SDGym.git@issue-516-add-workflows"

        echo "VIRTUAL_ENV=$(pwd)/venv" >> $GITHUB_ENV
        echo "$(pwd)/venv/bin" >> $GITHUB_PATH

    - name: Run SDGym Benchmark
      env:
        GCP_SERVICE_ACCOUNT_JSON: ${{ secrets.GCP_SERVICE_ACCOUNT_JSON }}
        SDV_ENTERPRISE_USERNAME: ${{ secrets.SDV_ENTERPRISE_USERNAME }}
        SDV_ENTERPRISE_LICENSE_KEY: ${{ secrets.SDV_ENTERPRISE_LICENSE_KEY }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
      run: |
        export CREDENTIALS_FILEPATH=$(python -c "from sdgym._benchmark.credentials_utils import create_credentials_file; print(create_credentials_file())")
        invoke run-sdgym-benchmark --modality multi_table
        rm -f "$CREDENTIALS_FILEPATH"
