name: Run SDGym Benchmark

on:
  workflow_call:
    inputs:
      modality:
        required: true
        type: string
      sdgym_ref:
        required: false
        type: string
        default: issue-516-add-workflows
    secrets:
      SDV_ENTERPRISE_USERNAME:
        required: true
      SDV_ENTERPRISE_LICENSE_KEY:
        required: true
      GCP_SERVICE_ACCOUNT_JSON:
        required: true
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      SLACK_TOKEN:
        required: true

jobs:
  run-sdgym-benchmark:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install dependencies
        env:
          USERNAME: ${{ secrets.SDV_ENTERPRISE_USERNAME }}
          LICENSE_KEY: ${{ secrets.SDV_ENTERPRISE_LICENSE_KEY }}
        run: |
          python -m venv venv
          source venv/bin/activate

          python -m pip install --upgrade pip
          python -m pip install sdv-installer
          python -c "
          from sdv_installer.installation.installer import install_packages
          install_packages(
              username='${USERNAME}',
              license_key='${LICENSE_KEY}',
              package='sdv-enterprise',
          )
          "
          python -m pip install "sdgym[all] @ git+https://github.com/sdv-dev/SDGym.git@${{ inputs.sdgym_ref }}"

          echo "VIRTUAL_ENV=$(pwd)/venv" >> $GITHUB_ENV
          echo "$(pwd)/venv/bin" >> $GITHUB_PATH

      - name: Run SDGym Benchmark
        env:
          GCP_SERVICE_ACCOUNT_JSON: ${{ secrets.GCP_SERVICE_ACCOUNT_JSON }}
          GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
          GCP_ZONE: ${{ secrets.GCP_ZONE }}
          SDV_ENTERPRISE_USERNAME: ${{ secrets.SDV_ENTERPRISE_USERNAME }}
          SDV_ENTERPRISE_LICENSE_KEY: ${{ secrets.SDV_ENTERPRISE_LICENSE_KEY }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}
        run: |
          export CREDENTIALS_FILEPATH=$(python -c "from sdgym._benchmark.credentials_utils import create_credentials_file; print(create_credentials_file())")
          invoke run-sdgym-benchmark --modality "${{ inputs.modality }}"
          rm -f "$CREDENTIALS_FILEPATH"
